@mixin themify($property, $pseudo:false) {
  @each $theme, $color in $themes {
    $parent: &;

    @if $pseudo {
      &--#{$theme} {
        &:#{$pseudo} {
          @extend #{$parent} !optional;
          #{$property}: #{$color};
        }
      }
    } @else {
      &--#{$theme} {
        @extend #{$parent} !optional;
        #{$property}: #{$color};
      }
    }
  }
}

@function columns($n) {
  @return (100% / 12) * $n;
}

@mixin link-hover($color) {
  color: $color;
  opacity: 0.8;
  transition: opacity 90ms ease;

  &:hover {
    color: $color;
    opacity: 1;
  }
}
