@import "bootstrap_variables";

//  1. Colors
$coingi-gray: #ceced9;
$coingi-dark-gray: #555;

// Font-weights
$wbook: 300;
$wnormal: 400;
$wmedium: 500;
$wbold: 700;

$footer-height: 140px;

// Extracted from CSS
$help-block-error-color: #e20000;
$flash-background-color: #fff9d7;
$flash-border-color: #e2c822;
$unimportant-color: #c0bec0;
$verified-users-span-color: #f2f2f2;
$label-star-color: #e00;
$form-error-color: #d00;
$callout-border-color: #eee;
$callout-default-color: #777;
$callout-info-color: #5bc0de;
$infobox-background-color: #fafafc;
$infobox-border-color: #ccc;
$nav-link-icon-color: #bbb;
$registration-complete-background: #216395;
$tw-button-background-color: #2ec0e5;
$password-strength-border-color: #888;
$password-strength-background: #aaa;
$password-strength-weak-background: #ed0000;
$password-strength-medium-background: #ffe900;
$password-strength-strong-background: #0d0;

// Legacy variables, taken from the old bootstrap version
$font-size-small: 10px;
$font-size-h3: 24px;
$font-size-bit-smaller: 12px;
$font-size-large: 17px;
$gray-darker: lighten(#000, 13.5%);
$gray-dark: lighten(#000, 20%);
$gray: lighten(#000, 33.5%);
$gray-light: lighten(#000, 60%);
$gray-lighter: lighten(#000, 95%);
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #2f3790;
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xs-min: $screen-xs;
$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;
$screen-lg-min: $screen-lg;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$navbar-default-bg: #f8f8f8;
$navbar-default-link-color: #777;
$navbar-default-link-hover-color: #333;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-color: #555;
$navbar-default-link-active-bg: darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color: #ccc;
$navbar-default-link-disabled-bg: transparent;
$border-radius-base: 4px;
$border-radius-large: 6px;
$btn-danger-bg: $brand-danger;
$table-bg-hover: #f5f5f5;

