<footer class="footer">
    <div class="container">
        <div class="row footer-row align-items-stretch pt-5 pb-4">
            <div class="col-12 col-md d-flex flex-column justify-content-between">
                <div class="footer-social">
                    <a class="footer-social-link" href="https://www.facebook.com/coingi"><i class="fab fa-facebook-square"></i></a>
                    <a class="footer-social-link" href="https://twitter.com/coingi"><i class="fab fa-twitter-square"></i></a>
                    <a class="footer-social-link" href="https://plus.google.com/110841064194615969565"><i class="fab fa-google-plus-square"></i></a>
                </div>

                <table class="footer-table">
                    <tr>
                        <td>
                            <b>Volume</b>
                            128 BTC / 1107712 USD
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Server Time</b>
                            2018-05-26 12:57:06
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-12 col-md-auto d-flex flex-column justify-content-between text-md-right">
                <ul class="nav nav-pills footer-nav mb-4 mt-4 mt-md-0 d-flex justify-content-md-end">
                    <li>
                        <a href="http://docs.coingi.apiary.io/"b>Trade API</a>
                    </li>
                    <li>
                        <a href="#">Fees</a>
                    </li>
                    <li>
                        <a href="#">Cookie Statement</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Help us translate</a>
                    </li>
                </ul>
                <div class="footer-copyright-label">
                    Copyright © 2018 <b>Coingi.com</b>. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
