<div class="locale-selector d-none d-sm-block">
    <div class="btn-group">
        <button type="button" class="btn btn-outline-dark ml-3 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="locale-img" src="/img/locale/us.png">
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item active" href="/?localeSelector-localeId=en&amp;do=localeSelector-selectLocale">
                <img class="locale-img" src="/img/locale/us.png"> English
            </a>
            <a class="dropdown-item " href="#">
                <img class="locale-img" src="/img/locale/dk.png"> Dansk
            </a>
            <a class="dropdown-item " href="#">
                <img class="locale-img" src="/img/locale/cz.png"> Česky
            </a>
        </div>
    </div>
</div>
