<div class="subheader pt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1><%- title %></h1>
                <div class="subheader__title pb-5">
                    Learn what it means to be a trader
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="#">My account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Coin transfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Deposits and withdrawals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Trading</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notifications</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
