ul.list {
  &--unordered {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;

    li {
      $dot-spacing-left: 20px;

      margin-bottom: 1rem;
      padding-left: 15px + $dot-spacing-left;
      padding-right: 15px;
      position: relative;
      width: 100%;

      &:before {
        display: block;
        content: '•';
        font-family: sans-serif;
        position: absolute;
        font-size: 1.6em;
        line-height: 1;
        left: 15px;
      }
    }
  }

  &--three-columns {
    li {
      width: 33.3333333%;

      @include media-breakpoint-down(md) {
        width: 50%;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }
}
