ul.list {
  &--unordered {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
    margin-bottom: 0;

    li {
      $gutter-width: $grid-gutter-width/2;
      $dot-spacing-left: 2rem;

      display: inline-block;
      margin-bottom: 1rem;
      padding-left: $dot-spacing-left;
      border-left: $gutter-width solid transparent;
      border-right: $gutter-width solid transparent;
      position: relative;
      width: 100%;

      &::before {
        display: block;
        content: '•';
        font-family: sans-serif;
        position: absolute;
        font-size: 1.6em;
        line-height: 1;
        left: 0;
      }
    }
  }

  &--three-columns {
    li {
      width: 33.3333333%;

      @include media-breakpoint-down(md) {
        width: 50%;
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  &--two-columns {
    li {
      width: 50%;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }
}
