.search {
  background: $primary;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  &__container {
    max-width: 620px;
    width: 100%;
  }

  &__title {
    @include media-breakpoint-down(sm) {
      font-size: 26px;
    }
  }

  .input-group {
    border-radius: 0.25rem;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    }
  }

  &__input {
    border: none;
    height: 60px;

    @include media-breakpoint-down(sm) {
      height: 54px;
    }

    &::placeholder {
      @include media-breakpoint-down(sm) {
        font-size: 13px;
        line-height: 1.8;
      }
    }

    &,
    &:focus {
      border: none;
      box-shadow: none;
    }
  }

  &__addon {
    background: $white;
    border: none;
    padding: 6px 8px 6px 20px;

    @include media-breakpoint-down(sm) {
      padding: 6px 1px 6px 12px;
    }

    .fa-search {
      color: $primary;
      font-size: 24px;

      @include media-breakpoint-down(sm) {
        font-size: 18px;
      }
    }
  }

  &__popular {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  &__link {
    display: inline-block;
    font-weight: $wbook;
    padding: 5px 10px;
    text-decoration: underline;

    @include link-hover($white);

    @include media-breakpoint-down(sm) {
      font-size: 15px;
      padding-bottom: 5px;
    }
  }
}
