.topics {
  background: #f7f7f7;

  &__wrapper {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
  }

  .card {
    $margin: 20;

    border: none;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin: 0 #{$margin}px #{$margin * 2}px #{$margin}px;
    text-decoration: none;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    width: calc(33% - (#{$margin * 2}px));

    &:hover {
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    }

    @include media-breakpoint-down(md) {
      width: calc(50% - (#{$margin * 2}px));
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }

    @include media-breakpoint-down(xs) {
      width: calc(100% - (#{$margin * 2}px));
    }

    .card-body {
      align-items: center;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      min-height: 200px;
      text-align: center;

      .card-title {
        font-size: 24px;
        margin-bottom: 10px;
      }

      i {
        font-size: 40px;
        margin-bottom: 25px;
      }

      p {
        color: $body-color;
        font-size: 14px;
        margin-bottom: 0;
      }
    }
  }
}
