/**
*   Global classes
**/
.video-container {
  height: 0;
  margin-bottom: 42px;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
*   General page styles
**/
html {
  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
}

main {
  flex-grow: 2;
}

hr {
  margin: 0;
}

.primary-navigation {
  .nav-item:first-of-type {
    .nav-link {
      padding-left: 0;
    }
  }
}
