.page-article {
  .subheader {
    background-image: linear-gradient(to right top, #ea7f18, #ec8916, #ee9314, #ef9c13, #f0a614);
  }

  .btn-copy-link {
    &,
    &:active,
    &:focus {
      background: none !important;
      border: none;
      color: $white !important;
    }
  }

  .title-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
  }

  .btn-back {
    border: 1px solid $white;
    display: inline-block;
    font-weight: $wbook;
  }

  h1 {
    b {
      font-weight: $wnormal;
    }

    @include media-breakpoint-down(sm) {
      font-size: 32px;
    }
  }

  .article {
    font-size: 17px;
    line-height: 2;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;

    p {
      margin-bottom: 32px;
    }

    header {
      margin-bottom: map-get($spacers, 3);
    }
  }
}
