<div class="container">
    <div class="row">
        <div class="col">
            <a href="/"><i class="far fa-long-arrow-left"></i> back to all articles</a>
            <article class="article py-5">
                <header>
                    <h1>
                        I have bought/sold a currency but don't see the right amount on my account's balance
                    </h1>
                </header>
                <main>
                    <p>
                        Kogi tofu lo-fi yr flexitarian master cleanse before they sold out intelligentsia prism meh pug palo santo biodiesel vaporware viral. Tbh helvetica quinoa gluten-free put a bird on it authentic 8-bit distillery snackwave 3 wolf moon taxidermy trust fund bespoke gentrify art party. You probably haven't heard of them VHS distillery fam brunch, actually venmo typewriter helvetica. Wolf forage normcore franzen, glossier cardigan dreamcatcher gentrify jianbing freegan. Shoreditch authentic try-hard, deep v enamel pin master cleanse blog taiyaki etsy drinking vinegar seitan keytar bicycle rights prism woke. Hell of wolf street art hot chicken austin subway tile cold-pressed.
                    </p>
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/eSjSozKL_EA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                    <p>
                        Or follow the steps below to resolve your issue:
                    </p>
                    <ol>
                        <li>Go to your account settings</li>
                        <li>click enable 2 factor authentification</li>
                        <li>Follow the steps on screen to complete the activation</li>
                    </ol>
                </main>
            </article>

            <hr>

            <section class="similar_topics py-5">
                <h2>Articles that might also help you:</h2>
                <ul class="list--unordered list--two-columns">
                    <li>
                        <a href="#">I want to set up FaceID</a>
                    </li>
                    <li>
                        <a href="#">I want to transfer bitcoin to another wallet</a>
                    </li>
                    <li>
                        <a href="#">I can't buy or sell bitcoin</a>
                    </li>
                    <li>
                        <a href="#">I don't understand how currency exchanges work</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
