<div class="container">
    <div class="row">
        <div class="col">
            <a href="#" class="goBack"><i class="far fa-long-arrow-left"></i> back to all articles</a>
            <article class="article py-5">
                <header>
                    <h1>
                        <%- selectedArticle.title %>
                    </h1>
                </header>
                <main>
                    <%- selectedArticle.content %>
                </main>
            </article>

            <hr>

            <section class="similar_topics py-5">
                <h2>Articles that might also help you:</h2>
                <ul class="list--unordered list--two-columns">
                    <li>
                        <a href="#">I want to set up FaceID</a>
                    </li>
                    <li>
                        <a href="#">I want to transfer bitcoin to another wallet</a>
                    </li>
                    <li>
                        <a href="#">I can't buy or sell bitcoin</a>
                    </li>
                    <li>
                        <a href="#">I don't understand how currency exchanges work</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
