<% include components/subheader %>

<div class="container pt-4 pb-5">
    <div class="row">
        <section class="col-12 category-section">
            <h2 class="category-section__title mb-4">
                <i class="category-section__icon far fa-money-bill-alt"></i>
                Let's talk money
            </h2>
            <div class="row">
                <div class="col-12 col-md">
                    <ul class="nav flex-column nav-compact">
                        <li class="nav-item">
                            <a class="nav-link" href="#">What is <b>money</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><b>History</b> of trading</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Why am I not <b>rich</b> yet?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Banking on <b>Bitcoin</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">My dog ate my <b>hardware wallet</b></a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md">
                    <ul class="nav flex-column nav-compact">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Leverage moving <b>average</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Billion <b>dollar</b> pizza</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Who's the real <b>Satoshi</b>?</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <div class="col-12">
            <hr class="my-5">
        </div>

        <section class="col-12 category-section">
            <h2 class="category-section__title mb-4">
                <i class="category-section__icon far fa-chart-line"></i>
                Trading strategies
            </h2>
            <div class="row">
                <div class="col-12 col-md">
                    <ul class="nav flex-column nav-compact">
                        <li class="nav-item">
                            <a class="nav-link" href="#">What is <b>money</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><b>History</b> of trading</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Why am I not <b>rich</b> yet?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Banking on <b>Bitcoin</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">My dog ate my <b>hardware wallet</b></a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md">
                    <ul class="nav flex-column nav-compact">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Leverage moving <b>average</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Billion <b>dollar</b> pizza</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Who's the real <b>Satoshi</b>?</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <div class="col-12">
            <hr class="my-5">
        </div>

        <section class="col-12 category-section">
            <h2 class="category-section__title mb-4">
                <i class="category-section__icon far fa-lock-alt"></i>
                Security is key
            </h2>
            <div class="row">
                <div class="col-12 col-md">
                    <ul class="nav flex-column nav-compact">
                        <li class="nav-item">
                            <a class="nav-link" href="#">What is <b>money</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><b>History</b> of trading</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Why am I not <b>rich</b> yet?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Banking on <b>Bitcoin</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">My dog ate my <b>hardware wallet</b></a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md">
                    <ul class="nav flex-column nav-compact">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Leverage moving <b>average</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Billion <b>dollar</b> pizza</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Who's the real <b>Satoshi</b>?</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
