<% include components/subheader %>

<div class="container pt-4 pt-md-5 pb-5">
    <div class="row">
        <section class="col-12 category-section">
            <h2 class="category-section__title mb-4">
                <i class="category-section__icon far fa-money-bill-alt"></i>
                Let's talk money
            </h2>
            <ul class="list--unordered list--two-columns">
                <li>
                    <a href="#">What is <b>money</b></a>
                </li>
                <li>
                    <a href="#"><b>History</b> of trading</a>
                </li>
                <li>
                    <a href="#">Why am I not <b>rich</b> yet?</a>
                </li>
                <li>
                    <a href="#">Banking on <b>Bitcoin</b></a>
                </li>
                <li>
                    <a href="#">My dog ate my <b>hardware wallet</b></a>
                </li>
                <li>
                    <a href="#">Leverage moving <b>average</b></a>
                </li>
                <li>
                    <a href="#">Billion <b>dollar</b> pizza</a>
                </li>
                <li>
                    <a href="#">Who's the real <b>Satoshi</b>?</a>
                </li>
            </ul>
        </section>

        <div class="col-12">
            <hr class="my-5">
        </div>

        <section class="col-12 category-section">
            <h2 class="category-section__title mb-4">
                <i class="category-section__icon far fa-chart-line"></i>
                Trading strategies
            </h2>
            <ul class="list--unordered list--two-columns">
                <li>
                    <a href="#">What is <b>money</b></a>
                </li>
                <li>
                    <a href="#"><b>History</b> of trading</a>
                </li>
                <li>
                    <a href="#">Why am I not <b>rich</b> yet?</a>
                </li>
                <li>
                    <a href="#">Banking on <b>Bitcoin</b></a>
                </li>
                <li>
                    <a href="#">My dog ate my <b>hardware wallet</b></a>
                </li>
                <li>
                    <a href="#">Leverage moving <b>average</b></a>
                </li>
                <li>
                    <a href="#">Billion <b>dollar</b> pizza</a>
                </li>
                <li>
                    <a href="#">Who's the real <b>Satoshi</b>?</a>
                </li>
            </ul>
        </section>

        <div class="col-12">
            <hr class="my-5">
        </div>

        <section class="col-12 category-section">
            <h2 class="category-section__title mb-4">
                <i class="category-section__icon far fa-lock-alt"></i>
                Security is key
            </h2>
            <ul class="list--unordered list--two-columns">
                <li>
                    <a href="#">What is <b>money</b></a>
                </li>
                <li>
                    <a href="#"><b>History</b> of trading</a>
                </li>
                <li>
                    <a href="#">Why am I not <b>rich</b> yet?</a>
                </li>
                <li>
                    <a href="#">Banking on <b>Bitcoin</b></a>
                </li>
                <li>
                    <a href="#">My dog ate my <b>hardware wallet</b></a>
                </li>
                <li>
                    <a href="#">Leverage moving <b>average</b></a>
                </li>
                <li>
                    <a href="#">Billion <b>dollar</b> pizza</a>
                </li>
                <li>
                    <a href="#">Who's the real <b>Satoshi</b>?</a>
                </li>
            </ul>
        </section>
    </div>
</div>
