<section class="container-fluid search py-5">
    <div class="row">
        <div class="col">
            <div class="search__container">
                <h1 class="text-center">How can we help you today?</h1>
                <form action="" id="searchForm" class="mt-4 mb-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text search__addon" id="search-addon"><i class="far fa-search"></i></span>
                        </div>
                        <input type="text" name="query" class="search__input form-control" placeholder="Find tutorials, articles, issues and more" aria-describedby="search-addon" autofocus>
                    </div>
                </form>
                <div class="search__popular">
                    <a class="search__link" href="#">cryptocurrency</a>
                    <a class="search__link" href="#">bitcoin</a>
                    <a class="search__link" href="#">stock exchange</a>
                    <a class="search__link" href="#">blockchain</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col">
            <section class="topics pt-5 pb-2">
                <% for (let [categoryId, category] of Object.entries(categories)) { %>
                <a href="/category/<%- categoryId %>" class="card">
                    <div class="card-body">
                        <i class="far <%= category.icon %> mb-3"></i>
                        <h2 class="card-title"><%= category.name %></h2>
                        <% if (category.description){ %>
                        <p><%= category.description %></p>
                        <% } %>
                    </div>
                </a>
                <% } %>
            </section>

            <hr>

            <section class="featured-articles py-5">
                <h2>Most visited articles:</h2>
                <ul class="list--unordered list--three-columns">
                    <li>
                        <a href="#">I want to set up FaceID</a>
                    </li>
                    <li>
                        <a href="#">I want to transfer bitcoin to another wallet</a>
                    </li>
                    <li>
                        <a href="#">I can't buy or sell bitcoin</a>
                    </li>
                    <li>
                        <a href="#">I don't understand how currency exchanges work</a>
                    </li>
                    <li>
                        <a href="#">My wire transfer was denied</a>
                    </li>
                    <li>
                        <a href="#">I did not recieve my transfer from another wallet</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
