<div class="container">
    <div class="row">
        <div class="col">
            <section class="search mb-5">
                <div class="search__container py-5">
                    <h1 class="text-center">How can we help you today?</h1>
                    <form action="" id="searchForm" class="mt-4 mb-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text search__addon" id="search-addon"><i class="far fa-search"></i></span>
                            </div>
                            <input type="text" name="query" class="search__input form-control" placeholder="Find tutorials, articles, issues and more" aria-describedby="search-addon" autofocus>
                        </div>
                    </form>
                    <div class="search__popular">
                        <a class="search__link" href="#">cryptocurrency</a>
                        <a class="search__link" href="#">bitcoin</a>
                        <a class="search__link" href="#">stock exchange</a>
                        <a class="search__link" href="#">blockchain</a>
                    </div>
                </div>
            </section>
            <section class="topics">
                <a href="/category" class="card">
                    <div class="card-body">
                        <i class="far fa-user mb-3"></i>
                        <h2 class="card-title">My account</h2>
                    </div>
                </a>
                <a href="/category" class="card">
                    <div class="card-body">
                        <i class="far fa-exchange-alt mb-3"></i>
                        <h2 class="card-title">Coin transfer</h2>
                    </div>
                </a>
                <a href="/category" class="card">
                    <div class="card-body">
                        <i class="far fa-money-bill-alt mb-3"></i>
                        <h2 class="card-title">Deposits and withdrawals</h2>
                    </div>
                </a>
                <a href="/category" class="card">
                    <div class="card-body">
                        <i class="far fa-chart-area mb-3"></i>
                        <h2 class="card-title">Trading</h2>
                    </div>
                </a>
                <a href="/category" class="card">
                    <div class="card-body">
                        <i class="far fa-bell mb-3"></i>
                        <h2 class="card-title">Notifications</h2>
                    </div>
                </a>
                <a href="/category" class="card">
                    <div class="card-body">
                        <i class="far fa-question-circle mb-3"></i>
                        <h2 class="card-title">General</h2>
                    </div>
                </a>
            </section>
        </div>
    </div>
</div>
