<section class="container-fluid search pt-5 pb-4 pt-md-5">
    <div class="row">
        <div class="col">
            <div class="search__container py-md-5">
                <h1 class="search__title text-center text-white">How can we help you<span class="d-none d-sm-inline"> today</span>?</h1>
                <form action="" id="searchForm" class="mt-4 mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text search__addon" id="search-addon"><i class="fal fa-search"></i></span>
                        </div>
                        <input type="text" name="query" class="search__input form-control" placeholder="Find tutorials, articles, issues and more" aria-describedby="search-addon" autofocus>
                    </div>
                </form>
                <div class="search__popular">
                    <a class="search__link" href="#">cryptocurrency</a>
                    <a class="search__link" href="#">bitcoin</a>
                    <a class="search__link" href="#">stock exchange</a>
                    <a class="search__link" href="#">blockchain</a>
                    <a class="search__link" href="#">hodl</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="topics pt-5 pb-2">
    <div class="container">
        <div class="row">
            <div class="col topics__wrapper">
                <a href="/category" class="card">
                    <div class="card-body">
                        <i class="fal fa-user"></i>
                        <h2 class="card-title">My Account</h2>
                        <p>Editing your profile, two factor authentication, verify your account</p>
                    </div>
                </a>
                <a href="/category" class="card">
                    <div class="card-body">
                        <i class="fal fa-exchange-alt"></i>
                        <h2 class="card-title">Coin Transfer</h2>
                        <p>Editing your profile, two factor authentication, verify your account</p>
                    </div>
                </a>
                <a href="/category" class="card">
                    <div class="card-body">
                        <i class="fal fa-money-bill-alt"></i>
                        <h2 class="card-title">Deposits & Withdrawals</h2>
                        <p>Editing your profile, two factor authentication, verify your account</p>
                    </div>
                </a>
                <a href="/category" class="card">
                    <div class="card-body">
                        <i class="fal fa-chart-line"></i>
                        <h2 class="card-title">Trading</h2>
                        <p>Editing your profile, two factor authentication, verify your account</p>
                    </div>
                </a>
                <a href="/category" class="card">
                    <div class="card-body">
                        <i class="fal fa-bell"></i>
                        <h2 class="card-title">Notifications</h2>
                        <p>Editing your profile, two factor authentication, verify your account</p>
                    </div>
                </a>
                <a href="/category" class="card">
                    <div class="card-body">
                        <i class="fal fa-question-circle mb-3"></i>
                        <h2 class="card-title">General</h2>
                        <p>Editing your profile, two factor authentication, verify your account</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col">
            <section class="pt-5 pb-4 py-md-5 category-section">
                <h2 class="mb-4">
                    <i class="category-section__icon far fa-newspaper"></i>
                    Popular articles
                </h2>
                <ul class="list--unordered list--two-columns">
                    <li>
                        <a href="#">I did not recieve my transfer from another wallet</a>
                    </li>
                    <li>
                        <a href="#">I want to transfer bitcoin to another wallet</a>
                    </li>
                    <li>
                        <a href="#">I can't buy or sell bitcoin</a>
                    </li>
                    <li>
                        <a href="#">I don't understand how currency exchanges work</a>
                    </li>
                    <li>
                        <a href="#">My wire transfer was denied</a>
                    </li>
                    <li>
                        <a href="#">I want to set up FaceID</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
