<section class="search mb-5">
    <div class="search__container py-5">
        <h1 class="text-center">How can we help you today?</h1>
        <form action="" id="searchForm" class="mt-4 mb-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text search__addon" id="search-addon"><i class="far fa-search"></i></span>
                </div>
                <input type="text" name="query" class="search__input form-control" placeholder="Find tutorials, articles, issues and more" aria-describedby="search-addon" autofocus>
            </div>
        </form>
        <div class="search__popular">
            <a class="search__link" href="#">cryptocurrency</a>
            <a class="search__link" href="#">bitcoin</a>
            <a class="search__link" href="#">stock exchange</a>
            <a class="search__link" href="#">blockchain</a>
        </div>
    </div>
</section>
<section class="topics">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</section>
